body          { margin: 50px 11%; width: 80%;  background-color: #302c28; color: #ffffff; font-family: verdana,"trebuchet ms","zurich bt",tahoma,arial,helvetica,sans-serif; font-size: 8pt; }
a             { text-decoration: underline; color: #ffbb00; }
a:visited     { color: #ff9900; }
a:hover       { color: #ff9900; }
div           { margin: 40px 0px 4px 0px; padding: 1px; background-color: #662222; font-size: 120%; font-weight: bold; }
pre           { margin: 15pt 0pt 3pt 20pt; font-family: monospace; }

